.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-title.logo{
  display: flex;
}
.app-title {
  color: white;
  padding-left: 10px;
}

.logo{
  margin: 5px 0px 5px 0px;
  padding-left: 10px;
}

.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
.theme-button {
padding-left: 8px;
}

.themes{
  margin: 0px 10px 0px 30px;

}
