<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    mode="over">
    <mat-toolbar>Menu
      <div class="btn-toolbar" >
      <button class="themes" mat-mini-fab color="primary" (click)="onSetTheme('dark-theme')"><mat-icon class="theme-button">nights_stay</mat-icon></button>
      <button class="themes" mat-mini-fab color="accent" (click)="onSetTheme('light-theme')"><mat-icon class="theme-button">wb_sunny</mat-icon></button>
      </div>
    </mat-toolbar>

    <mat-nav-list class="sidenav-list">

      <mat-list-item routerLink="/" routerLinkActive="drawer-list-item-active" #routerLinkActiveInstance="routerLinkActive"
        [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
        [routerLinkActiveOptions]="{exact: true}" (click)="drawer.close()">
        <mat-icon matListIcon>home</mat-icon>
        Home
      </mat-list-item>

      <mat-list-item href="#" routerLink="/users" routerLinkActive="drawer-list-item-active" (click)="drawer.close()">
        <mat-icon matListIcon>people</mat-icon>
        Users
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button
        color="accent"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" class="menuLabel">menu</mat-icon>
      </button>
      <img class="logo" id="logo" src="https://i.imgur.com/KwiKNmo.png" alt="U of M Morris logo" width="50px">
      <span class="app-title" id="app-title">UMM Laundry Service</span>



    </mat-toolbar>
    <div class="main-content mat-typography">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
