.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  //background: #7a0019;
}

.app-title.logo{
  display: flex;
}
.app-title {
  //padding-left: 20px;
  color: white;
  //padding-right: 200px;
}

.logo{
  //padding-left: 30px;
}

.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
.theme-button {
padding-left: 8px;
}

.themes{
  padding-right: 20px;
}
